/build
/.gradle
/.classpath
/.settings
/.project

/client/.gradle
/client/gradle
/client/build
/client/bin
/client/gradlew
/client/gradlew.bat
/client/.classpath
/client/.settings
/client/.project

/service/.gradle
/service/gradle
/service/build
/service/bin
/service/gradlew
/service/gradlew.bat
/service/.classpath
/service/.settings
/service/.project
